@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');

body {
  font-family: 'Arbutus Slab', serif;
  background-color: #AABCFF;
  color: #ffffff;
  position: relative;
  font-size: 20px;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: #eb7940;
  font-weight: 200;

} 

.welcome{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0 35px;
}

svg, span {
  margin: 0 10px;
  cursor: pointer; 
}

span {
  border: none;
  border-radius: 5px;
  background-color: #C75114;
  padding: 10px 20px;
  min-width: 120px;
  display: inline-block;
  text-align: center;  
}

span:hover {
  background-color: #eb7940;
  cursor: pointer;
}

div.welcome{
  margin: 40px 50px;
}

svg#add-tarefa:hover, svg#edit-tarefa:hover, svg#remove-tarefa:hover, svg#search-tarefa:hover {
  transition: 0.3s;
  background-color:#C75114;
  border-radius: 5px;
}
svg#search-tarefa{
}

.calendario {
  position: relative; 
  cursor: pointer; 
}

.opcoes {
  position: absolute;
  margin: 5px 10px;
  background-color: #C75114; 
  padding: 5px 0; 
  min-width: 160px;
  border-radius: 5px; 
  z-index: 1;
}

.opcoes li {
  list-style-type: none; 
  padding: 5px 10px;
}

.opcoes li:hover {
  background-color: #eb7940; /* Cor de fundo ao passar o mouse sobre os itens */
}

.painel-tarefa {
  width: 600px;
  color: black;
  padding: 15px;
  background-color: #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}

.painel-tarefa-body {
  display: flex;
  flex-direction: column;
  text-align: left;
}
 p {
  margin: 0px;
 }

.painel-tarefa-body input, .painel-tarefa-body textarea , .painel-tarefa-body select {
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  cursor: pointer;
}
.painel-tarefa-body input, .painel-tarefa-body textarea{
  height: 55px;
}

.painel-tarefa-body input[type="date"], .painel-tarefa-body input[type="time"]{
  height: 25px;
  cursor: pointer;
}

button#duracao{
  font-family: 'Arbutus Slab', serif;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  background-color: #C75114;
  color: white;
  margin: 0px 1px 15px 0px;
}

button#duracao.selected {
  background-color: #000D73; /* Cor azul para o botão selecionado */
}

button.btn-fechar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}

button.btn-salvar { 
  font-family: 'Arbutus Slab', serif;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  background-color: #C75114;
  color: white;
  cursor: pointer;
  margin: 15px 0px;
  height: 50px;
  min-width: 400px;
  margin: 0 auto;
}

button.btn-salvar:hover, button#duracao:hover{
  background-color: #E8A87C;
}

tr.selected{
    background-color: rgb(110, 0, 0);
  }
  